name: ci

on:

jobs:
  linux-x64:
    name: "Test linux-x64"
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install
        run: curl -sSL https://valk-lang.dev/install.sh | bash

      - name: Check versions
        run: |
          source ~/.bashrc
          ~/.vman/bin/vman -h
          ~/.vman/bin/valk build -h

