name: ci

on:
  workflow_dispatch:
    branches: [ main ]
  pull_request:
    types: [ready_for_review, synchronize, opened]
    branches: [ main ]

jobs:
  linux-x64:
    name: "Test linux-x64"
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install
        run: curl -sSL https://valk-lang.dev/install.sh | bash

      - name: Check versions
        run: |
          source ~/.bashrc
          ~/.vman/bin/vman -h
          ~/.vman/bin/valk build -h

  macos-x64:
    name: "Test macos-x64"
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: macos-15-intel
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install
        run: curl -sSL https://valk-lang.dev/install.sh | bash

      - name: Check versions
        run: |
          source ~/.bashrc
          ~/.vman/bin/vman -h
          ~/.vman/bin/valk build -h

  macos-arm64:
    name: "Test macos-arm64"
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: macos-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install
        run: curl -sSL https://valk-lang.dev/install.sh | bash

      - name: Check versions
        run: |
          source ~/.bashrc
          ~/.vman/bin/vman -h
          ~/.vman/bin/valk build -h

  win-x64:
    name: "Test win-x64"
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
    runs-on: windows-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install
        run: irm https://valk-lang.dev/install.ps1 | iex

      - name: Check versions
        run: |
          ~/.vman/bin/vman -h
          ~/.vman/bin/valk build -h

